include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .parallax
        .parallax__layer(data-speed="0.1")
          +image("content/layer-01.png", 'parallax__image')
        .parallax__layer(data-speed="0.2")
          +image("content/layer-02.png", 'parallax__image')
        .parallax__layer(data-speed="0.4")
          +image("content/layer-03.png", 'parallax__image')
        .parallax__layer(data-speed="0.9")
          +image("content/layer-04.png", 'parallax__image')
        .parallax__layer(data-speed="0.9")
          +image("content/layer-05.png", 'parallax__image')
        .parallax__layer(data-speed="0.9")
          +image("content/layer-06.png", 'parallax__image')
      section.fullscreen-section.hero
        .container.hero__container 
          header.hero__header
            .hero__logo
              .logo КА
            .hero__nav  
              nav.nav
                - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a(href="").nav__link #{item} 
            .hero__socials  
              .socials
                ul.socials__list
                  each social in ['insta', 'vk', 'github']  
                    li.socials__item
                      a(class=`socials__link socials__link_${social}` href="#")
                        +icon(social,"socials__icon")
            a.hamburger-menu-link
              .hamburger-menu-link__bars
          .hero__content  
            .promo
              .promo__site Личный сайт #[br] веб разработчика
              .promo__myname Куликов #[br] Антон
          .hero__scroll
            a.scroll__link(href="#") Скролл
            +icon('scroll', 'scroll__icon')
      section.myinfo
        .container.myinfo__container
          .myinfo__left
            .user
              .avatar.user__avatar
                +image('content/user.jpg', 'user-pic')
              ul.user__desc
                - 
                  var items = [
                    ['Проживаю:', 'Чехов'],
                    ['Возраст:', '23'],
                    ['Родился:', 'Чехов'],
                  ]
                each item in items
                  li.user__desc-item
                    .user__key #{item[0]}
                    .user__value #{item[1]}
          .myinfo__right
            h4.myinfo__prolog Привет, меня зовут
            h2.myinfo__title Куликов Антон
            .myinfo__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ad, facilis vero deleniti obcaecati iusto consequatur dolor fugit itaque cupiditate veniam porro maiores eaque voluptate inventore voluptatibus! Eos, dolor ad.
            .myinfo__ps Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas similique ipsa laboriosam repellat exercitationem dolorum enim rem, asperiores debitis quaerat, a, vel in neque impedit magnam perferendis? Voluptatibus, quasi. Mollitia?
      section.features
        .hands
        .container.features__container  
          .features__title
            h2.section-title.features__title-text Чем я могу быть вам полезен
            .features__desc
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam earum cupiditate ut, soluta deleniti vel deserunt aliquid nisi nihil molestiae rerum nesciunt labore enim inventore ipsum, cum pariatur corporis.
          .values__widget
            #skills-component
      section.works
        .container
          h2.section-title.works__title Мои работы
          .works__content
            .works__left
              .slider
                img(src=require('images/content/works_preview.png')).slider__fillpic
                .slider__preview
                  ul.previews
                    - for (var i = 0; i < 3; i++)
                      li.previews__item
                        +image('content/work_small.png', 'previews__pic')
                .slider__buttons
                  .slider-button
                    button.slider-buttons__item.slider-buttons__item--slide--prev &#10094; 
                    button.slider-buttons__item.slider-buttons__item--slide--next &#10095;
            .works__right
              .works__tags
                - var tags = ['HTML', 'CSS', 'JavaScript']
                each tag in tags
                  ul.tags
                    li.tags__item #{tag}
              .works__text
                h3.section-title.works__text-title Сайт школы образования
                .works__desc-text
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dolorum nulla placeat cumque nostrum commodi ad numquam dolores distinctio officiis molestiae, assumenda omnis ut voluptas itaque eligendi mollitia earum. Tenetur.
                a.iconed-link
                  +icon('link', 'iconed-link__icon')
                  .iconed-link__text Посмотреть сайт
      section.comments
        .container.comments__container
          .reviews(@click="checkArrows" @touchend="checkArrows")
            .container.reviews__container
              .reviews__header
                .section-title.reviews__title Что обо мне говорят
                .reviews__nav-block
                  button.reviews__nav-block-previous(@click="previous" :disabled='true') &#10094;
                  button.reviews__nav-block-next(@click="next" :disabled='false') &#10095;
              flickity(ref="flickity" :options="flickityOptions").reviews__slider
                .reviews__item(v-for="review in reviews")
                  .reviews__text 
                    p.reviews__text-desc {{review.review}}
                  .reviews__user
                    .reviews__avatar
                      img(:src="review.photo", alt="").reviews__avatar-pic
                    .reviews__info  
                      .reviews__name {{review.name}}
                      .reviews__func {{review.about}}
          .contacts
            .section-title.contacts__title Связаться со мной    
            form.form(action="post")
              .form__row
                label.form__label
                  .form__label-title Введите ваше имя
                  .input
                    .input__icon.input__icon-user
                    input(type="text").input__elem
                label.form__label
                  .form__label-title Введите ваш email
                  .input
                    .input__icon.input__icon-email
                    input(type="text").input__elem
              .form__row
                label.form__label
                  .form__label-title 
                    span Введите ваш комментарий
                    .form__phone-title Сообщение к письму
                  .input
                    .input__icon.input__icon-comment
                    textarea.input__textarea(name="comment")
              .form__row
                button.form__sub-btn(type="submit") Отправить
      footer.footer
        .container.footer__container
          .footer__author
            span.footer__year © 2020
            .footer__developer
              .footer__developer-name Куликов Антон
              .footer__developer-site Личный сайт веб разработчика
          .footer__adds
            .footer__nav
              nav.nav
                - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                ul.nav__list
                  each item in menu
                    li.nav__item
                      a(href="").nav__link #{item}
            .footer__info
              .footer__comm
                .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
                .footer__socials
                  .socials
                    ul.socials__list
                      each social in ['insta', 'vk', 'github']  
                        li.socials__item.footer__social-item
                          a(class=`socials__link socials__link_${social}` href="#")
                            +icon(social,"socials__icon")
              .footer__phrase
                .footer__phrase-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат
                .footer__sign Martin Golding
      //- +image('content/user.jpg', 'user-pic')
      //- +icon('link', 'link-class')
      //- .icon-bg
    .hamburger-menu#hamburger-menu
      .hamburger-menu__items
        nav.nav
          - var menu = ['Главная', "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
          ul.nav__list
            each item in menu
              li.nav__item
                a(href="").nav__link #{item}
      .hamburger-menu__socials
        ul.socials__list
          each social in ['insta', 'vk', 'github']  
            li.socials__item
              a(class=`socials__link socials__link_${social}` href="#")
                +icon(social,"socials__icon")
      a.hamburger-menu__close
        +icon('remove',"hamburger-menu__close-icon")
    script(src="https://code.jquery.com/jquery-3.4.1.js")
    include ./templates/entry.pug